.loginSection{
    height : 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #423F3E ;

}
.login{
    height : auto;
    width : 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    padding : 20px;
    align-items: center;
    background-color:#171010;
}
.heading{
    margin-bottom: 20px;
}
