.loginSection{
    height : 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f8fc;

}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 4px 4px 4px rgb(180, 179, 179);
    padding: 20px;
    width: 400px;
    gap: 20px;
}
.errorText{
    color : #362222;
}
.blackBorder{
    border: 1px solid black;
}
.heading{
    font-weight: bold;
}
.register{
    font-size: 13px;
}
.registerButton{
    border: none;
    background-color: white;
    margin-left: 10px;
    color : blue;
}
